<launch>
    <!-- Arguments -->
    <arg name="map" default="test_map"/>
    <arg name="map_file" default="$(find bipedal_wheel_navigation)/maps/$(arg map).yaml"/>
    <arg name="open_rviz" default="true"/>
    <arg name="move_forward_only" default="false"/>

    <!-- Robot Model -->
    <param name="robot_description"
           command="$(find xacro)/xacro $(find bipedal_wheel_description)/urdf/bipedal.urdf.xacro use_simulation:=true
           add_wheel:=true"/>

    <!-- Map server -->
    <node pkg="map_server" name="map_server" type="map_server" args="$(arg map_file)"/>

    <!-- Localization -->
    <include file="$(find icp_localization)/launch/scan_to_map_location.launch"/>
    <!--    <include file="$(find fastlio)/launch/localize.launch"/>-->

    <!-- move_base -->
    <!--    <include file="$(find bipedal_wheel_navigation)/launch/move_base.launch"/>-->

    <!-- trajectory tracker -->
    <include file="$(find bipedal_wheel_planner)/launch/tracker.launch"/>

    <!-- rviz -->
    <group if="$(arg open_rviz)">
        <node pkg="rviz" type="rviz" name="rviz" required="true"
              args="-d $(find bipedal_wheel_navigation)/rviz/bipedal_wheel_navigation.rviz"/>
    </group>
</launch>
