<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bipedal">

    <xacro:arg name="use_simulation" default="true"/>
    <xacro:arg name="add_wheel" default="false"/>

    <xacro:include filename="$(find bipedal_wheel_description)/urdf/chassis.urdf.xacro"/>
    <xacro:chassis use_simulation="$(arg use_simulation)" add_wheel="$(arg add_wheel)"/>
    <xacro:include filename="$(find rm_description)/urdf/common/imu.urdf.xacro"/>
    <xacro:IMU connected_to="base_link" imu_name="base_imu" xyz="0 0 0"
               rpy="0 0 -${pi}"/>

    <xacro:if value="$(arg use_simulation)">
        <gazebo>
            <plugin name="rm_ros_control" filename="librm_robot_hw_sim.so">
                <robotNamespace>/</robotNamespace>
                <robotSimType>rm_gazebo/RmRobotHWSim</robotSimType>
            </plugin>
        </gazebo>
    </xacro:if>

</robot>
