<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="bipedal">

    <xacro:arg name="use_simulation" default="true"/>
    <xacro:arg name="add_wheel" default="false"/>
    <xacro:arg name="gpu" default="false"/>
    <xacro:property name="gpu" value="$(arg gpu)"/>
    <xacro:arg name="organize_cloud" default="false"/>
    <xacro:property name="organize_cloud" value="$(arg organize_cloud)"/>

    <xacro:include filename="$(find bipedal_wheel_description)/urdf/chassis.urdf.xacro"/>
    <xacro:chassis use_simulation="$(arg use_simulation)" add_wheel="$(arg add_wheel)"/>
    <xacro:include filename="$(find bipedal_wheel_description)/urdf/imu.urdf.xacro"/>
    <xacro:IMU connected_to="base_link" imu_name="base_imu" xyz="0 0 0"
               rpy="0 0 0"/>
    <!--    <xacro:include filename="$(find velodyne_description)/urdf/VLP-16.urdf.xacro"/>-->
    <!--    <xacro:VLP-16 parent="base_link" name="velodyne" topic="/velodyne_points" organize_cloud="${organize_cloud}" hz="10"-->
    <!--                  samples="1875" min_range="0.1" gpu="${gpu}">-->
    <!--        <origin xyz="0 0 0.11" rpy="0 0 0"/>-->
    <!--    </xacro:VLP-16>-->
    <xacro:include filename="$(find bipedal_wheel_description)/urdf/livox_mid360.urdf.xacro"/>
    <xacro:livox_mid360 connected_to="base_link" simulation="$(arg use_simulation)" lidar_name="livox_frame"
                        xyz="0 0 0.12" rpy="0 0 0"/>

    <xacro:if value="$(arg use_simulation)">
        <gazebo>
            <plugin name="gazebo_ros_control" filename="libbipedal_hw_sim.so">
                <robotNamespace>/</robotNamespace>
                <robotSimType>bipedal_wheel_gazebo/BipedalHWSim</robotSimType>
            </plugin>
        </gazebo>

        <gazebo>
            <plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
                <alwaysOn>true</alwaysOn>
                <updateRate>500.0</updateRate>
                <bodyName>base_link</bodyName>
                <topicName>ground_truth/state</topicName>
                <gaussianNoise>0.0</gaussianNoise>
                <frameName>world</frameName>
                <xyzOffsets>0 0 0</xyzOffsets>
                <rpyOffsets>0 0 0</rpyOffsets>
            </plugin>
        </gazebo>
    </xacro:if>

</robot>
