<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:property name="max_effort" value="40"/>
    <xacro:property name="max_velocity" value="10.46"/>
    <xacro:property name="calf_upper_limit" value="0."/>
    <xacro:property name="calf_lower_limit" value="-1.85"/>

    <xacro:macro name="leg"
                 params="prefix connected_to pitch_offset leg_x_offset leg_y_offset leg_z_offset second_leg_y_offset">
        <link name="${prefix}_thigh">
            <visual>
                <origin xyz="0 -0.005 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://bipedal_wheel_description/meshes/first_leg.stl"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 -0.1"/>
                <geometry>
                    <box size="0.06 0.013 0.2"/>
                </geometry>
            </collision>
            <inertial>
                <mass value="0.164"/>
                <origin xyz="0 0 -0.109"/>
                <inertia ixx="6.51e-4" ixy="0.0" ixz="0.0" iyy="6.56e-4" iyz="0.0" izz="5.47e-5"/>
            </inertial>
        </link>
        <joint name="${prefix}_hip_joint" type="revolute">
            <axis xyz="0 1 0"/>
            <origin xyz="${leg_x_offset} ${leg_y_offset} ${leg_z_offset}" rpy="0 ${pitch_offset} 0"/>
            <parent link="${connected_to}"/>
            <child link="${prefix}_thigh"/>
            <limit effort="${max_effort}" velocity="${max_velocity}" lower="-1e10" upper="1e10"/>
        </joint>

        <link name="${prefix}_calf">
            <visual>
                <origin xyz="0 -0.005 0" rpy="0 0 0"/>
                <geometry>
                    <mesh filename="package://bipedal_wheel_description/meshes/second_leg.stl"/>
                </geometry>
            </visual>
            <collision>
                <origin xyz="0 0 -0.13" rpy="0 0 0"/>
                <geometry>
                    <box size="0.06 0.013 0.25"/>
                </geometry>
            </collision>
            <inertial>
                <mass value="0.190142"/>
                <origin xyz="0.0000 0.00 -0.12"/>
                <inertia ixx="1.976e-3" ixy="-5.117e-9" ixz="3.239e-6" iyy="2.024e-3" iyz="2.338e-6"
                         izz="5.2689e-5"/>
            </inertial>
        </link>
        <joint name="${prefix}_knee_joint" type="revolute">
            <axis xyz="0 1 0"/>
            <origin xyz="0 ${second_leg_y_offset} -0.218" rpy="0 -${pi/4} 0"/>
            <parent link="${prefix}_thigh"/>
            <child link="${prefix}_calf"/>
            <limit effort="${max_effort}" velocity="${max_velocity}" lower="${calf_lower_limit}"
                   upper="${calf_upper_limit}"/>
            <!--            <safety_controller k_position="10" k_velocity="0.1" soft_lower_limit="${calf_lower_limit}"-->
            <!--                               soft_upper_limit="1e10"/>-->
        </joint>


    </xacro:macro>

</robot>
